body {
  background-color: #01579B;
}

div {
  text-align: center;
  margin: auto;

    h2 {
      font-family: "Roboto";
      font-size: 4rem;
      font-weight: 400;
      margin-bottom: 0;
      color: white;
    }

    p {
      font-family: "Roboto";
      font-size: 1.5rem;
      font-weight: 300;
      margin: 0;
      color: white;
    }
}

.loginForm {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-top: 3rem; 
  padding: 50px;
  background-color: #FAFAFA;
  border-radius: 1rem;  
  box-shadow: 3px 6px 50px -4px rgba(0,0,0,0.42);

  .input {
    width: 500px;
  }

  .button {
    margin-top: 2rem;
  }
}